<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col logo_section">
        <div class="full">
          <div class="center-desk">
            <div class="logo">
              <a href="/"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9">
        <div class="menu-area">
          <div class="limit-box">
            <nav class="main-menu">
              <ul class="menu-area-main">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/songs">Songs</a></li>

                <% if (user) { %>
                <li>
                  <form action="/logout" method="post">
                    <button class="btn" type="submit">log out</button>
                  </form>
                </li>
                <li>
                  <a href="#" class="mb-0">Hi <%= user.username %></a>
                  <a href="#" class="mt-0"> Balance: £<%= user.balance %></a>
                </li>
                <% if (user.type_of_user === 'admin') { %>
                <li><a href="/allUsers">Manage-site</a></li>
                <% }} else { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <% } %>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
